@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Lato:wght@300&family=Plus+Jakarta+Sans:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
}
